In [1]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
imbd_name_basics = pd.read_csv('../Data/imdb.name.basics.csv.gz')
imbd_title_akas = pd.read_csv('../Data/imdb.title.akas.csv.gz')
imbd_title_basics = pd.read_csv('../Data/imdb.title.basics.csv.gz')
imbd_title_crew = pd.read_csv('../Data/imdb.title.crew.csv.gz')
imbd_title_principals = pd.read_csv('../Data/imdb.title.principals.csv.gz')
imbd_title_ratings = pd.read_csv('../Data/imdb.title.ratings.csv.gz')

In [4]:
#re-name column in title_akas
imbd_title_akas = imbd_title_akas.rename(columns={'title_id': 'tconst'})

In [5]:
#setting index columns
imbd_title_akas.set_index("tconst", inplace=True)
imbd_title_basics.set_index("tconst", inplace=True)
imbd_title_crew.set_index("tconst", inplace=True)
imbd_title_principals.set_index("tconst", inplace=True)
imbd_title_ratings.set_index("tconst", inplace=True)

In [6]:
#creating imbd dataframe1
imbd_df1 = imbd_title_basics

In [7]:
#replacing empty genre cells with "Missing"
imbd_df1['genres'].replace(np.nan, 'Missing', inplace=True, regex=True)

In [8]:
#joining imbd_title_ratings to imbd_df
imbd_df2 = imbd_df1.join(imbd_title_ratings, how='left')

In [9]:
#joining imbd_title_crew to imbd_df
imbd_df3 = imbd_df2.join(imbd_title_crew, how='left')

In [10]:
#create studio_movie_performance & define index
studio_movie_performance = pd.read_csv('studio_movie_performance_inner_w_imdb.csv', index_col='tconst')

In [16]:
#join studio_movie_performance
imbd_df4 = imbd_df3.join(studio_movie_performance, how='inner')

In [17]:
imbd_df4.head()

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,directors,writers,title,studio,year,production_budget,domestic_gross,worldwide_gross,foreign_gross
tconst,,,,,,,,,,,,,,,,
tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886.0,nm0758574,"nm0449616,nm1433580",On the Road,IFC,2012,25000000.0,720828.0,9.313302e+06,8592474.0
tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300.0,nm0001774,"nm0175726,nm0862122",The Secret Life of Walter Mitty,Fox,2013,91000000.0,58236838.0,1.878612e+08,129624345.0
tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",6.5,105116.0,nm0291082,"nm0088747,nm0291082",A Walk Among the Tombstones,Uni.,2014,28000000.0,26017685.0,6.210859e+07,36090902.0
tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338.0,nm1119880,"nm0415425,nm0798646,nm1119880,nm2081046,nm0000341",Jurassic World,Uni.,2015,215000000.0,652270625.0,1.648855e+09,996584239.0
tt0376136,The Rum Diary,The Rum Diary,2011,119.0,"Comedy,Drama",6.2,94787.0,nm0732430,"nm0732430,nm0860219",The Rum Diary,FD,2011,45000000.0,13109815.0,2.154473e+07,8434917.0

In [18]:
imbd_df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1603 entries, tt0337692 to tt9906218
Data columns (total 16 columns):
primary_title        1603 non-null object
original_title       1603 non-null object
start_year           1603 non-null int64
runtime_minutes      1507 non-null float64
genres               1603 non-null object
averagerating        1426 non-null float64
numvotes             1426 non-null float64
directors            1573 non-null object
writers              1491 non-null object
title                1603 non-null object
studio               1603 non-null object
year                 1603 non-null int64
production_budget    1603 non-null float64
domestic_gross       1603 non-null float64
worldwide_gross      1603 non-null float64
foreign_gross        1603 non-null float64
dtypes: float64(7), int64(2), object(7)
memory usage: 212.9+ KB

In [19]:
imbd_df4.isna().sum()

primary_title          0
original_title         0
start_year             0
runtime_minutes       96
genres                 0
averagerating        177
numvotes             177
directors             30
writers              112
title                  0
studio                 0
year                   0
production_budget      0
domestic_gross         0
worldwide_gross        0
foreign_gross          0
dtype: int64

In [ ]:
#cleaning imbd_title_akas before merge to imbd_df
#imbd_title_akas_cleaned = imbd_title_akas.loc[imbd_title_akas.is_original_title == 1].copy()

In [ ]:
#add regions column
#imbd_title_akas_cleaned['regions'] = imbd_title_akas_cleaned['region']

In [ ]:
#imbd_title_akas_cleaned.regions = imbd_title_akas.apply(lambda x: list(imbd_title_akas.loc[imbd_title_akas.index == x, 'region']))

In [ ]:
#adding list of regions to each original title
region_list_dict = {}
for title in imbd_title_akas_cleaned.index:
    region_list = list(imbd_title_akas.loc[imbd_title_akas.index == title, 'region'])
    region_list_dict.update(title = region_list)
#     imbd_title_akas_cleaned.at[title, 'regions'] = region_list
region_list_df = pd.DataFrame(region_list_dict)
region_list_df.head()

In [ ]:
#joining imbd_title_crew to imbd_df
imbd_df_join4 = imbd_df_join3.join(????, how='left')

In [ ]:
imbd_title_akas.head()

In [ ]:
imbd_title_akas_cleaned.head()

In [ ]:
imbd_df_join3.head()

In [ ]:
imbd_df_join3.to_csv("imdb_df_join3.csv")