In [461]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import string
%matplotlib inline

In [462]:
pd.set_option('display.max_rows', 500)

In [463]:
# We use the bom.movie_gross.csv data to identify each movie's studio.
# We wanted to know the studio so we can identify trends within individual studios
bom = pd.read_csv('Data/bom.movie_gross.csv')

# We use the tn.movie_budgets.csv to identify each movie's budget and revenue figures.
tn = pd.read_csv('Data/tn.movie_budgets.csv')

In [464]:
# cleaning up an encoding issue for apostrophes
tn.movie = tn.movie.apply(lambda x: x.replace('Ã¢\x80\x99', "'"))

# Converting the money columns, which have values stored as strings due to dollar-signs and commas, to numbers.


def convert_currency_str_to_num(dataframe, column):
    dataframe[column] = dataframe[column].apply(lambda x: x.replace('$', ''))
    dataframe[column] = dataframe[column].apply(lambda x: x.replace(',', ''))
    dataframe[column] = dataframe[column].astype('float')


convert_currency_str_to_num(tn, 'production_budget')
convert_currency_str_to_num(tn, 'domestic_gross')
convert_currency_str_to_num(tn, 'worldwide_gross')

tn.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09

In [465]:
# Removing movies from before 2010 to conform with the time period in the other datasets
tn['year'] = tn.release_date.apply(lambda x: int(x[-4:]))
tn = tn.loc[tn.year >= 2010]

In [466]:
# Converting the release_date to a datetime object
tn['release_date'] = pd.to_datetime(tn.release_date)

In [467]:
tn.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,2011
2,3,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,2019
3,4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,2017
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,2015

In [468]:
bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [469]:
# This function returns True if the movie title has a 4-digit number/year within a parenthetical
# We found some titles in this dataset which had the year appended in a parenthetical,
# but that wasn't the case in the other datasets,
# so they would get excluded from an inner join on the titles.


def parenthetical_is_a_year(words):
    if words.find("(") != -1:
        new_words = words[(words.find("(")+1):(words.find(")"))]
        if (new_words.isdigit()) and (len(new_words) == 4):
            return True
        else:
            return False
    else:
        return False

In [470]:
# This function relies on parenthetical_is_a_year() to determine if there's a year appended to the title,
# and then removes the appended year if it exists


def remove_appended_yr_from_title(dataframe, column):
    dataframe[column] = dataframe[column].apply(
        lambda x: x[:(x.find("(")-1)] if parenthetical_is_a_year(x) else x)

In [471]:
remove_appended_yr_from_title(bom, 'title')

In [472]:
bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland,BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [473]:
# This function removes punctuation from the titles and makes all characters lowercase.
# The intent is to remove styling that could inhibit a match when joining different datasets


def title_string_format_standardization(dataframe, column):
    dataframe[column] = dataframe[column].apply(lambda x: str(x).translate(str.maketrans('',
                                                                                         '',
                                                                                         string.punctuation)
                                                                           ).lower())

In [474]:
title_string_format_standardization(bom, 'title')

In [475]:
title_string_format_standardization(tn, 'movie')

In [476]:
bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,toy story 3,BV,415000000.0,652000000,2010
1,alice in wonderland,BV,334200000.0,691300000,2010
2,harry potter and the deathly hallows part 1,WB,296000000.0,664300000,2010
3,inception,WB,292600000.0,535700000,2010
4,shrek forever after,P/DW,238700000.0,513900000,2010

In [477]:
tn.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,year
1,2,2011-05-20,pirates of the caribbean on stranger tides,410600000.0,241063875.0,1.045664e+09,2011
2,3,2019-06-07,dark phoenix,350000000.0,42762350.0,1.497624e+08,2019
3,4,2015-05-01,avengers age of ultron,330600000.0,459005868.0,1.403014e+09,2015
4,5,2017-12-15,star wars ep viii the last jedi,317000000.0,620181382.0,1.316722e+09,2017
5,6,2015-12-18,star wars ep vii the force awakens,306000000.0,936662225.0,2.053311e+09,2015

In [478]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [479]:
tn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2194 entries, 1 to 5780
Data columns (total 7 columns):
id                   2194 non-null int64
release_date         2194 non-null datetime64[ns]
movie                2194 non-null object
production_budget    2194 non-null float64
domestic_gross       2194 non-null float64
worldwide_gross      2194 non-null float64
year                 2194 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 137.1+ KB

In [480]:
bom.rename(columns={'year': 'bom_year'}, inplace=True)
tn.rename(columns={'year': 'tn_year'}, inplace=True)

In [481]:
print(bom.columns)
print(tn.columns)

# Only keeping pertinent columns of each dataframe.
bom = bom[['title', 'studio', 'bom_year']].copy()
tn = tn[['movie', 'release_date', 'production_budget', 'domestic_gross',
         'worldwide_gross', 'tn_year']].copy()

# Dropping the 5 rows from bom that have nulls since the count is so low
bom.dropna(inplace=True)

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'bom_year'], dtype='object')
Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross', 'tn_year'],
      dtype='object')

In [482]:
len(bom.studio.unique())

257

In [483]:
tn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2194 entries, 1 to 5780
Data columns (total 6 columns):
movie                2194 non-null object
release_date         2194 non-null datetime64[ns]
production_budget    2194 non-null float64
domestic_gross       2194 non-null float64
worldwide_gross      2194 non-null float64
tn_year              2194 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 120.0+ KB

In [484]:
# Creating a foreign_gross column.
tn['foreign_gross'] = tn['worldwide_gross'] - tn['domestic_gross']
tn.head()

,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross
1,pirates of the caribbean on stranger tides,2011-05-20,410600000.0,241063875.0,1.045664e+09,2011,8.046000e+08
2,dark phoenix,2019-06-07,350000000.0,42762350.0,1.497624e+08,2019,1.070000e+08
3,avengers age of ultron,2015-05-01,330600000.0,459005868.0,1.403014e+09,2015,9.440081e+08
4,star wars ep viii the last jedi,2017-12-15,317000000.0,620181382.0,1.316722e+09,2017,6.965404e+08
5,star wars ep vii the force awakens,2015-12-18,306000000.0,936662225.0,2.053311e+09,2015,1.116649e+09

In [485]:
sum(bom.duplicated())

0

In [486]:
sum(tn.duplicated())

0

In [487]:
# We did a left merge to explore the non-matches for a later inner join that will ultimately be analyzed.
# The previous data cleaning of the title strings was in response to this EDA.
studio_movie_performance_left = bom.merge(right=tn,
                                          how='left',
                                          left_on='title',
                                          right_on='movie')

In [488]:
sum(studio_movie_performance_left.movie.isna())

1939

In [489]:
studio_movie_performance_left.sort_values('title').head(100)

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross
2394,10 cloverfield lane,Par.,2016,10 cloverfield lane,2016-03-11,5000000.0,72082999.0,108286422.0,2016.0,36203423.0
1038,10 years,Anch.,2012,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1830,1000 times good night,FM,2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2282,1001 grams,KL,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
3222,102 not out,Sony,2018,NaN,NaT,NaN,NaN,NaN,NaN,NaN
533,111111,Rocket,2011,NaN,NaT,NaN,NaN,NaN,NaN,NaN
3161,12 strong,WB,2018,12 strong,2018-01-19,35000000.0,45819713.0,71118378.0,2018.0,25298665.0
1168,12 years a slave,FoxS,2013,12 years a slave,2013-10-18,20000000.0,56671993.0,181025343.0,2013.0,124353350.0
94,127 hours,FoxS,2010,127 hours,2010-11-05,18000000.0,18335230.0,60217171.0,2010.0,41881941.0
486,13 assassins,Magn.,2011,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2417,13 hours the secret soldiers of benghazi,Par.,2016,13 hours the secret soldiers of benghazi,2016-01-15,50000000.0,52853219.0,69411370.0,2016.0,16558151.0
3016,13 minutes,SPC,2017,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1849,13 sins,RTWC,2014,13 sins,2014-04-18,4000000.0,9134.0,47552.0,2014.0,38418.0
1681,14 blades,RTWC,2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1039,17 girls,Strand,2012,NaN,NaT,NaN,NaN,NaN,NaN,NaN
673,1911,Vari.,2011,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1866,2 autumns 3 winters,FM,2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN
968,2 days in new york,Magn.,2012,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1181,2 guns,Uni.,2013,2 guns,2013-08-02,61000000.0,75612460.0,132493015.0,2013.0,56880555.0
1711,2 states,UTV,2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1314,20 feet from stardom,RTWC,2013,20 feet from stardom,2013-06-14,1000000.0,4946250.0,5892466.0,2013.0,946216.0
2163,20 once again,CJ,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1715,20000 days on earth,Drft.,2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN
3264,2001 a space odyssey 2018 rerelease,WB,2018,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2515,20th century women,A24,2016,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1234,21 and over,Rela.,2013,21 and over,2013-03-01,13000000.0,25682380.0,42195766.0,2013.0,16513386.0
764,21 jump street,Sony,2012,21 jump street,2012-03-16,42000000.0,138447667.0,202812429.0,2012.0,64364762.0
1268,22 bullets,Cdgm.,2013,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1502,22 jump street,Sony,2014,22 jump street,2014-06-13,50000000.0,191719337.0,331333876.0,2014.0,139614539.0
3077,222,Magn.,2017,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1098,28 hotel rooms,Osci.,2012,NaN,NaT,NaN,NaN,NaN,NaN,NaN
567,3,Strand,2011,3,2011-09-16,7200000.0,59774.0,295492.0,2011.0,235718.0
2258,3 12 minutes 10 bullets,Part.,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1578,3 days to kill,Rela.,2014,3 days to kill,2014-02-21,28000000.0,30697999.0,38959900.0,2014.0,8261901.0
2989,3 generations,Wein.,2017,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2973,3 idiotas,PNT,2017,NaN,NaT,NaN,NaN,NaN,NaN,NaN
444,30 minutes or less,Sony,2011,30 minutes or less,2011-08-12,28000000.0,37053924.0,40966716.0,2011.0,3912792.0
1501,300 rise of an empire,WB,2014,300 rise of an empire,2014-03-07,110000000.0,106580051.0,330780051.0,2014.0,224200000.0
967,360,Magn.,2012,NaN,NaT,NaN,NaN,NaN,NaN,NaN
278,44 inch chest,Imag.,2010,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1101,444 last day on earth,IFC,2012,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2060,45 years,IFC,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2864,47 meters down,ENTMP,2017,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1176,47 ronin,Uni.,2013,47 ronin,2013-12-25,175000000.0,38362475.0,151716815.0,2013.0,113354340.0
1062,5 broken cameras,KL,2012,NaN,NaT,NaN,NaN,NaN,NaN,NaN
713,5 days of war,Anch.,2011,5 days of war,2011-08-19,12000000.0,17479.0,87793.0,2011.0,70314.0
2110,5 flights up,FCW,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2184,5 to 7,IFC,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
448,5050,Sum.,2011,5050,2011-09-30,8000000.0,35016118.0,41334735.0,2011.0,6318617.0
2974,6 below miracle on the mountain,MOM,2017,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1368,6 souls,RTWC,2013,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1780,7 boxes,BGP,2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN
3233,7 days in entebbe,Focus,2018,NaN,NaT,NaN,NaN,NaN,NaN,NaN
632,7 khoon maaf,UTV,2011,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2092,71,RAtt.,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
143,71 into the fire,JS,2010,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2096,99 homes,BG,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2820,a bad moms christmas,STX,2017,a bad moms christmas,2017-11-01,28000000.0,72110659.0,127710550.0,2017.0,55599891.0
688,a beautiful life,CL,2011,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2458,a beautiful planet,Imax,2016,NaN,NaT,NaN,NaN,NaN,NaN,NaN
580,a better life,Sum.,2011,a better life,2011-06-24,10000000.0,1759252.0,1884251.0,2011.0,124999.0
2505,a bigger splash,FoxS,2016,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2158,a borrowed identity,Strand,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1395,a bottle in the gaza sea,FM,2013,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2179,a brilliant young mind,Gold.,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
3361,a ciambra,IFC,2018,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1696,a coffee in berlin,MBox,2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2884,a cure for wellness,Fox,2017,NaN,NaT,NaN,NaN,NaN,NaN,NaN
466,a dangerous method,SPC,2011,a dangerous method,2011-11-23,20000000.0,5702083.0,14807531.0,2011.0,9105448.0
2802,a dogs purpose,Uni.,2017,a dogs purpose,2017-01-27,25000000.0,64321890.0,203671625.0,2017.0,139349735.0
3272,a fantastic woman,SPC,2018,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1700,a five star life,MBox,2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2945,a gentleman,FIP,2017,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2965,a ghost story,A24,2017,a ghost story,2017-07-07,100000.0,1594798.0,2769782.0,2017.0,1174984.0
1762,a girl walks home alone at night,KL,2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1435,a glimpse inside the mind of charles swan iii,A24,2013,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1148,a good day to die hard,Fox,2013,a good day to die hard,2013-02-14,92000000.0,67349198.0,304249198.0,2013.0,236900000.0
656,a good old fashioned orgy,Gold.,2011,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1224,a haunted house,ORF,2013,a haunted house,2013-01-11,2500000.0,40041683.0,59922558.0,2013.0,19880875.0
1614,a haunted house 2,ORF,2014,a haunted house 2,2014-04-18,4000000.0,17329487.0,21206861.0,2014.0,3877374.0
1386,a hijacking,Magn.,2013,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2521,a hologram for the king,RAtt.,2016,a hologram for the king,2016-04-22,35000000.0,4212494.0,11846010.0,2016.0,7633516.0
2199,a journey through time with anthony,CL,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
973,a late quartet,EOne,2012,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1661,a letter to momo,GK,2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN
981,a little bit of heaven,MNE,2012,a little bit of heaven,2012-05-04,12500000.0,10011.0,1100287.0,2012.0,1090276.0
2032,a little chaos,FCW,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1658,a long way down,Magn.,2014,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2530,a man called ove,MBox,2016,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2691,a melody to remember,CJ,2016,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1554,a million ways to die in the west,Uni.,2014,a million ways to die in the west,2014-05-30,40000000.0,42720965.0,86778557.0,2014.0,44057592.0
2434,a monster calls,Focus,2016,a monster calls,2017-01-06,43000000.0,3740823.0,46414530.0,2017.0,42673707.0
2722,a monster with a thousand heads,MBox,2016,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1640,a most violent year,A24,2014,a most violent year,2014-12-31,20000000.0,5749134.0,8846875.0,2014.0,3097741.0
1597,a most wanted man,RAtt.,2014,a most wanted man,2014-07-25,15000000.0,17237855.0,36068890.0,2014.0,18831035.0
56,a nightmare on elm street,WB (NL),2010,a nightmare on elm street,2010-04-30,35000000.0,63075011.0,117729621.0,2010.0,54654610.0
3370,a paris education,KL,2018,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2553,a perfect day,IFC,2016,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2166,a pigeon sat on a branch reflecting on existence,Magn.,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2212,a poem is a naked person 2015 reissue,Jan.,2015,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [490]:
studio_movie_performance_left.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3387 entries, 0 to 3386
Data columns (total 10 columns):
title                3387 non-null object
studio               3387 non-null object
bom_year             3387 non-null int64
movie                1448 non-null object
release_date         1448 non-null datetime64[ns]
production_budget    1448 non-null float64
domestic_gross       1448 non-null float64
worldwide_gross      1448 non-null float64
tn_year              1448 non-null float64
foreign_gross        1448 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 291.1+ KB

In [491]:
# Inner joining the studio and budget+revenue data sets to ensure we have a set of movies with a complete set of info.
studio_movie_performance_inner = bom.merge(right=tn,
                                           how='inner',
                                           left_on='title',
                                           right_on='movie')

In [492]:
studio_movie_performance_inner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1448 entries, 0 to 1447
Data columns (total 10 columns):
title                1448 non-null object
studio               1448 non-null object
bom_year             1448 non-null int64
movie                1448 non-null object
release_date         1448 non-null datetime64[ns]
production_budget    1448 non-null float64
domestic_gross       1448 non-null float64
worldwide_gross      1448 non-null float64
tn_year              1448 non-null int64
foreign_gross        1448 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 124.4+ KB

In [493]:
# Investigating potential duplicate records where the years don't match
studio_movie_performance_inner.loc[studio_movie_performance_inner.bom_year 
                                   != studio_movie_performance_inner.tn_year]

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross
17,robin hood,Uni.,2010,robin hood,2018-11-21,99000000.0,30824628.0,8.474744e+07,2018,53922813.0
18,robin hood,LG/S,2018,robin hood,2010-05-14,210000000.0,105487148.0,3.224590e+08,2010,216971858.0
44,unstoppable,WGUSA,2018,unstoppable,2010-11-12,95000000.0,81562942.0,1.657209e+08,2010,84157979.0
61,the girl with the dragon tattoo,MBox,2010,the girl with the dragon tattoo,2011-12-20,90000000.0,102515793.0,2.393740e+08,2011,136858177.0
115,leap year,Strand,2011,leap year,2010-01-08,19000000.0,25918920.0,3.261892e+07,2010,6700000.0
134,mother,Magn.,2010,mother,2017-09-15,30000000.0,17800004.0,4.253108e+07,2017,24731072.0
173,frozen,Anch.,2010,frozen,2013-11-22,150000000.0,400738009.0,1.272470e+09,2013,871731901.0
201,the girl on the train,Strand,2010,the girl on the train,2016-10-07,45000000.0,75395035.0,1.742782e+08,2016,98883179.0
268,the iron lady,Wein.,2011,the iron lady,2012-01-13,14000000.0,29959436.0,1.155921e+08,2012,85632668.0
357,we need to talk about kevin,Osci.,2011,we need to talk about kevin,2012-01-13,7000000.0,1738692.0,1.076528e+07,2012,9026591.0
362,like crazy,Strand,2017,like crazy,2011-10-28,250000.0,3395391.0,3.728400e+06,2011,333009.0
385,the other woman,IFC,2011,the other woman,2014-04-25,40000000.0,83911193.0,1.951112e+08,2014,111200000.0
394,beautiful boy,Anch.,2011,beautiful boy,2018-10-12,25000000.0,7634767.0,1.303142e+07,2018,5396657.0
400,blood ties,ALP,2011,blood ties,2014-03-21,26000000.0,42472.0,2.923959e+06,2014,2881487.0
531,the apparition,MBox,2018,the apparition,2012-08-24,17000000.0,4936819.0,1.063728e+07,2012,5700462.0
534,on the road,IFC,2012,on the road,2013-03-22,25000000.0,720828.0,9.313302e+06,2013,8592474.0
535,promised land,Focus,2012,promised land,2013-01-04,15000000.0,7597898.0,1.239456e+07,2013,4796664.0
539,albert nobbs,RAtt.,2012,albert nobbs,2011-12-21,7500000.0,3014696.0,8.539003e+06,2011,5524307.0
659,her,WB,2013,her,2014-01-10,23000000.0,25568251.0,4.816382e+07,2014,22595564.0
667,snitch,LG/S,2013,snitch,2012-12-31,850000.0,0.0,0.000000e+00,2012,0.0
683,trance,FoxS,2013,trance,2012-12-31,950000.0,0.0,0.000000e+00,2012,0.0
708,believe,ORF,2013,believe,2016-12-02,3500000.0,890303.0,8.903030e+05,2016,0.0
717,the wall,MBox,2013,the wall,2017-05-12,3000000.0,1803064.0,4.495262e+06,2017,2692198.0
804,selma,Par.,2014,selma,2015-01-09,20000000.0,52076908.0,6.677658e+07,2015,14699668.0
860,mommy,RAtt.,2014,mommy,2015-01-23,4900000.0,3498695.0,1.753600e+07,2015,14037309.0
870,highway,UTV,2014,highway,2012-12-31,2000000.0,0.0,0.000000e+00,2012,0.0
981,the lady in the van,SPC,2015,the lady in the van,2016-01-15,6000000.0,10021175.0,4.232050e+07,2016,32299328.0
1026,youth,CL,2017,youth,2015-12-04,13000000.0,2703296.0,2.400157e+07,2015,21298277.0
1034,phantom,UTV,2015,phantom,2013-03-01,18000000.0,1034589.0,1.199510e+06,2013,164921.0
1038,eden,BG,2015,eden,2016-01-19,2300000.0,0.0,0.000000e+00,2016,0.0
1139,a monster calls,Focus,2016,a monster calls,2017-01-06,43000000.0,3740823.0,4.641453e+07,2017,42673707.0
1166,regression,W/Dim.,2016,regression,2015-10-30,20000000.0,55039.0,1.582437e+07,2015,15769335.0
1333,the square,Magn.,2017,the square,2010-04-09,1900000.0,406216.0,7.409320e+05,2010,334716.0
1334,the square,Magn.,2017,the square,2013-10-25,1500000.0,124244.0,1.762620e+05,2013,52018.0

In [494]:
# The nature of the inner join created some unwanted records
studio_movie_performance_inner.loc[studio_movie_performance_inner.title == 'robin hood']

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross
16,robin hood,Uni.,2010,robin hood,2010-05-14,210000000.0,105487148.0,322459006.0,2010,216971858.0
17,robin hood,Uni.,2010,robin hood,2018-11-21,99000000.0,30824628.0,84747441.0,2018,53922813.0
18,robin hood,LG/S,2018,robin hood,2010-05-14,210000000.0,105487148.0,322459006.0,2010,216971858.0
19,robin hood,LG/S,2018,robin hood,2018-11-21,99000000.0,30824628.0,84747441.0,2018,53922813.0

In [495]:
# Removing the mismatched data based on the years
studio_movie_performance_inner = studio_movie_performance_inner.loc[studio_movie_performance_inner.bom_year
                                                                    == studio_movie_performance_inner.tn_year].copy()

In [527]:
imdb_titles = pd.read_csv('Exploration/imdb_df_join3.csv')

In [528]:
imdb_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 10 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             146144 non-null object
averagerating      73856 non-null float64
numvotes           73856 non-null float64
directors          140417 non-null object
writers            110261 non-null object
dtypes: float64(3), int64(1), object(6)
memory usage: 11.2+ MB

In [529]:
imdb_titles.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,directors,writers
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0,nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0,nm0002411,NaN
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0,nm0000080,"nm0000080,nm0462648"
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0,nm0611531,nm0347899
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0,"nm0765384,nm0749914","nm1360635,nm0749914"

In [530]:
len(set(imdb_titles.original_title))

137774

In [531]:
# Creating subsets of the dataframe with the unique IMDb title ID (i.e. tconst).
# These are then concatenated and duplicates are removed.
# This provides a map between all potential IMDb titles and their unique IDs.
primary_titles = imdb_titles[['tconst', 'primary_title', 'start_year', 'numvotes']].copy()
original_titles = imdb_titles[['tconst', 'original_title', 'start_year', 'numvotes']].copy()
primary_titles.columns = ['tconst', 'title', 'imdb_year', 'numvotes']
original_titles.columns = ['tconst', 'title', 'imdb_year', 'numvotes']

In [532]:
imdb_titles_only = pd.concat([primary_titles, original_titles])

In [533]:
title_string_format_standardization(imdb_titles_only, 'title')

In [534]:
imdb_titles_only.head()

      tconst                            title  imdb_year  numvotes
0  tt0063540                        sunghursh       2013      77.0
1  tt0066787  one day before the rainy season       2019      43.0
2  tt0069049       the other side of the wind       2018    4517.0
3  tt0069204                  sabse bada sukh       2018      13.0
4  tt0100275         the wandering soap opera       2017     119.0

In [535]:
imdb_titles_only.tail()

,tconst,title,imdb_year,numvotes
146139,tt9916538,kuambil lagi hatiku,2019,NaN
146140,tt9916622,rodolpho teÃ³philo o legado de um pioneiro,2015,NaN
146141,tt9916706,dankyavar danka,2013,NaN
146142,tt9916730,6 gunn,2017,NaN
146143,tt9916754,chico albuquerque revelaÃ§Ãµes,2013,NaN

In [536]:
imdb_titles_only.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292288 entries, 0 to 146143
Data columns (total 4 columns):
tconst       292288 non-null object
title        292288 non-null object
imdb_year    292288 non-null int64
numvotes     147712 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 11.1+ MB

In [537]:
# Removing duplicates.
imdb_titles_only = imdb_titles_only.loc[imdb_titles_only.duplicated() == False]
imdb_titles_only.dropna(inplace=True)

In [538]:
imdb_titles_only.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85964 entries, 0 to 146024
Data columns (total 4 columns):
tconst       85964 non-null object
title        85964 non-null object
imdb_year    85964 non-null int64
numvotes     85964 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.3+ MB

In [539]:
imdb_titles_only.reset_index(inplace=True)

In [540]:
imdb_titles_only.drop('index', axis=1, inplace=True)
imdb_titles_only.head()

      tconst                            title  imdb_year  numvotes
0  tt0063540                        sunghursh       2013      77.0
1  tt0066787  one day before the rainy season       2019      43.0
2  tt0069049       the other side of the wind       2018    4517.0
3  tt0069204                  sabse bada sukh       2018      13.0
4  tt0100275         the wandering soap opera       2017     119.0

In [541]:
studio_movie_performance_inner.head()

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross
0,toy story 3,BV,2010,toy story 3,2010-06-18,200000000.0,415004880.0,1.068880e+09,2010,653874642.0
1,alice in wonderland,BV,2010,alice in wonderland,2010-03-05,200000000.0,334191110.0,1.025491e+09,2010,691300000.0
2,inception,WB,2010,inception,2010-07-16,160000000.0,292576195.0,8.355246e+08,2010,542948447.0
3,shrek forever after,P/DW,2010,shrek forever after,2010-05-21,165000000.0,238736787.0,7.562447e+08,2010,517507886.0
4,the twilight saga eclipse,Sum.,2010,the twilight saga eclipse,2010-06-30,68000000.0,300531751.0,7.061028e+08,2010,405571077.0

In [542]:
# Joining the unique IMDb title ID (i.e. tconst) with the budget, revenue and studio data.
studio_movie_performance_inner_w_imdb = studio_movie_performance_inner.merge(right=imdb_titles_only,
                                                                             how='inner',
                                                                             left_on='title',
                                                                             right_on='title')

In [543]:
studio_movie_performance_inner_w_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1687 entries, 0 to 1686
Data columns (total 13 columns):
title                1687 non-null object
studio               1687 non-null object
bom_year             1687 non-null int64
movie                1687 non-null object
release_date         1687 non-null datetime64[ns]
production_budget    1687 non-null float64
domestic_gross       1687 non-null float64
worldwide_gross      1687 non-null float64
tn_year              1687 non-null int64
foreign_gross        1687 non-null float64
tconst               1687 non-null object
imdb_year            1687 non-null int64
numvotes             1687 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(4)
memory usage: 184.5+ KB

In [544]:
studio_movie_performance_inner_w_imdb.head()

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross,tconst,imdb_year,numvotes
0,toy story 3,BV,2010,toy story 3,2010-06-18,200000000.0,415004880.0,1.068880e+09,2010,653874642.0,tt0435761,2010,682218.0
1,alice in wonderland,BV,2010,alice in wonderland,2010-03-05,200000000.0,334191110.0,1.025491e+09,2010,691300000.0,tt1014759,2010,358813.0
2,alice in wonderland,BV,2010,alice in wonderland,2010-03-05,200000000.0,334191110.0,1.025491e+09,2010,691300000.0,tt2049386,2010,6.0
3,inception,WB,2010,inception,2010-07-16,160000000.0,292576195.0,8.355246e+08,2010,542948447.0,tt1375666,2010,1841066.0
4,shrek forever after,P/DW,2010,shrek forever after,2010-05-21,165000000.0,238736787.0,7.562447e+08,2010,517507886.0,tt0892791,2010,167532.0

In [545]:
# Tracking down duplicates, shortening df name to make this code shorter.
smpiwi = studio_movie_performance_inner_w_imdb.copy()
smpiwi['duplicates'] = smpiwi.title.apply(lambda x:
                                          len(smpiwi.title.loc[smpiwi.title == x]))

In [547]:
smpiwi.loc[smpiwi.duplicates > 1]

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross,tconst,imdb_year,numvotes,duplicates
1,alice in wonderland,BV,2010,alice in wonderland,2010-03-05,200000000.0,334191110.0,1.025491e+09,2010,691300000.0,tt1014759,2010,358813.0,2
2,alice in wonderland,BV,2010,alice in wonderland,2010-03-05,200000000.0,334191110.0,1.025491e+09,2010,691300000.0,tt2049386,2010,6.0,2
17,robin hood,Uni.,2010,robin hood,2010-05-14,210000000.0,105487148.0,3.224590e+08,2010,216971858.0,tt0955308,2010,239480.0,8
18,robin hood,Uni.,2010,robin hood,2010-05-14,210000000.0,105487148.0,3.224590e+08,2010,216971858.0,tt2363363,2013,78.0,8
19,robin hood,Uni.,2010,robin hood,2010-05-14,210000000.0,105487148.0,3.224590e+08,2010,216971858.0,tt4532826,2018,41588.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1669,upgrade,BH Tilt,2018,upgrade,2018-06-01,3000000.0,11977130.0,1.655328e+07,2018,4576155.0,tt6739824,2016,69.0,2
1674,kin,LGF,2018,kin,2018-08-31,30000000.0,5718096.0,1.009682e+07,2018,4378725.0,tt2233624,2012,46.0,2
1675,kin,LGF,2018,kin,2018-08-31,30000000.0,5718096.0,1.009682e+07,2018,4378725.0,tt6017942,2018,9048.0,2
1683,mandy,RLJ,2018,mandy,2018-09-14,6000000.0,1214525.0,1.427656e+06,2018,213131.0,tt4995858,2016,39.0,2
1684,mandy,RLJ,2018,mandy,2018-09-14,6000000.0,1214525.0,1.427656e+06,2018,213131.0,tt6998518,2018,44378.0,2

In [548]:
# Identifying duplicates that could be different movies with the same title based on their year,
# which were created by the inner join but aren't valid for this analysis
smpiwi.loc[smpiwi.bom_year != smpiwi.imdb_year]

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross,tconst,imdb_year,numvotes,duplicates
18,robin hood,Uni.,2010,robin hood,2010-05-14,210000000.0,105487148.0,3.224590e+08,2010,216971858.0,tt2363363,2013,78.0,8
19,robin hood,Uni.,2010,robin hood,2010-05-14,210000000.0,105487148.0,3.224590e+08,2010,216971858.0,tt4532826,2018,41588.0,8
20,robin hood,Uni.,2010,robin hood,2010-05-14,210000000.0,105487148.0,3.224590e+08,2010,216971858.0,tt6858500,2018,5.0,8
21,robin hood,LG/S,2018,robin hood,2018-11-21,99000000.0,30824628.0,8.474744e+07,2018,53922813.0,tt0955308,2010,239480.0,8
22,robin hood,LG/S,2018,robin hood,2018-11-21,99000000.0,30824628.0,8.474744e+07,2018,53922813.0,tt2363363,2013,78.0,8
44,red,Sum.,2010,red,2010-10-15,60000000.0,90380162.0,1.964397e+08,2010,106059531.0,tt2181948,2014,9.0,5
45,red,Sum.,2010,red,2010-10-15,60000000.0,90380162.0,1.964397e+08,2010,106059531.0,tt2776528,2013,113.0,5
46,red,Sum.,2010,red,2010-10-15,60000000.0,90380162.0,1.964397e+08,2010,106059531.0,tt4170206,2014,8.0,5
47,red,Sum.,2010,red,2010-10-15,60000000.0,90380162.0,1.964397e+08,2010,106059531.0,tt8851190,2018,26.0,5
53,unstoppable,Fox,2010,unstoppable,2010-11-12,95000000.0,81562942.0,1.657209e+08,2010,84157979.0,tt3070502,2013,551.0,4
54,unstoppable,Fox,2010,unstoppable,2010-11-12,95000000.0,81562942.0,1.657209e+08,2010,84157979.0,tt9225192,2018,576.0,4
55,unstoppable,Fox,2010,unstoppable,2010-11-12,95000000.0,81562942.0,1.657209e+08,2010,84157979.0,tt9906218,2019,8.0,4
71,tooth fairy,Fox,2010,tooth fairy,2010-01-22,48000000.0,60022256.0,1.126104e+08,2010,52588130.0,tt7906260,2019,64.0,2
76,killers,LGF,2010,killers,2010-06-04,75000000.0,47059963.0,9.557275e+07,2010,48512786.0,tt2409300,2014,4472.0,2
100,devil,Uni.,2010,devil,2010-09-17,10000000.0,33679655.0,6.335411e+07,2010,29674459.0,tt6114940,2016,799.0,2
106,remember me,Sum.,2010,remember me,2010-03-12,16000000.0,19068240.0,5.650612e+07,2010,37437880.0,tt3628598,2014,623.0,3
107,remember me,Sum.,2010,remember me,2010-03-12,16000000.0,19068240.0,5.650612e+07,2010,37437880.0,tt4843358,2016,72.0,3
120,my name is khan,FoxS,2010,my name is khan,2010-02-12,8470000.0,4046336.0,4.235553e+07,2010,38309190.0,tt3112992,2013,138.0,2
122,going the distance,WB (NL),2010,going the distance,2010-09-03,32000000.0,17804299.0,4.360399e+07,2010,25799691.0,tt6135412,2016,13.0,2
132,the losers,WB,2010,the losers,2010-04-23,25000000.0,23591432.0,2.986384e+07,2010,6272408.0,tt3746918,2013,70.0,2
135,let me in,Over.,2010,let me in,2010-10-01,20000000.0,12134935.0,2.827040e+07,2010,16135464.0,tt7122852,2017,7.0,2
141,another year,SPC,2010,another year,2010-12-29,8000000.0,3205706.0,2.000561e+07,2010,16799907.0,tt3508808,2014,294.0,3
142,another year,SPC,2010,another year,2010-12-29,8000000.0,3205706.0,2.000561e+07,2010,16799907.0,tt5886728,2016,40.0,3
144,buried,LGF,2010,buried,2010-09-24,1987650.0,1044143.0,2.127029e+07,2010,20226147.0,tt4540326,2011,5.0,2
146,mother,Par.,2017,mother,2017-09-15,30000000.0,17800004.0,4.253108e+07,2017,24731072.0,tt3330566,2012,9.0,5
147,mother,Par.,2017,mother,2017-09-15,30000000.0,17800004.0,4.253108e+07,2017,24731072.0,tt3400912,2014,14.0,5
149,mother,Par.,2017,mother,2017-09-15,30000000.0,17800004.0,4.253108e+07,2017,24731072.0,tt5303938,2016,47.0,5
150,mother,Par.,2017,mother,2017-09-15,30000000.0,17800004.0,4.253108e+07,2017,24731072.0,tt5332280,2016,234.0,5
156,the last station,SPC,2010,the last station,2010-01-15,18000000.0,6617867.0,1.569615e+07,2010,9078279.0,tt2627798,2011,6.0,2
157,the last station,SPC,2010,the last station,2010-01-15,18000000.0,6617867.0,1.569615e+07,2010,9078279.0,tt3436064,2012,10.0,2
160,chloe,SPC,2010,chloe,2010-03-26,13000000.0,3075255.0,1.183113e+07,2010,8755876.0,tt1833881,2013,34.0,1
166,conviction,FoxS,2010,conviction,2010-10-15,12500000.0,6797696.0,1.182698e+07,2010,5029284.0,tt7799386,2018,234.0,2
168,stone,Over.,2010,stone,2010-10-08,22000000.0,1810078.0,4.065020e+06,2010,2254942.0,tt2156825,2012,607.0,2
172,the joneses,RAtt.,2010,the joneses,2010-04-16,10000000.0,1475746.0,3.541565e+06,2010,2065819.0,tt1152830,2011,87.0,2
173,the joneses,RAtt.,2010,the joneses,2010-04-16,10000000.0,1475746.0,3.541565e+06,2010,2065819.0,tt4360484,2016,15.0,2
179,the runaways,App.,2010,the runaways,2010-03-19,9500000.0,3573673.0,5.278632e+06,2010,1704959.0,tt6168914,2019,47.0,2
183,monsters,Magn.,2010,monsters,2010-10-29,500000.0,237301.0,5.639730e+06,2010,5402429.0,tt5253186,2015,6.0,3
184,monsters,Magn.,2010,monsters,2010-10-29,500000.0,237301.0,5.639730e+06,2010,5402429.0,tt8986808,2019,66.0,3
187,frozen,BV,2013,frozen,2013-11-22,150000000.0,400738009.0,1.272470e+09,2013,871731901.0,tt1323045,2010,62311.0,3
188,frozen,BV,2013,frozen,2013-11-22,150000000.0,400738009.0,1.272470e+09,2013,871731901.0,tt1611845,2010,75.0,3
193,housefull,Eros,2010,housefull,2010-04-30,10100000.0,1183658.0,1.872630e+07,2010,17542642.0,tt4991978,2013,8.0,2
194,afterlife,Anch.,2010,afterlife,2010-04-09,4500000.0,108596.0,2.481925e+06,2010,2373329.0,tt3774870,2014,780.0,1
196,flipped,WB,2010,flipped,2010-08-06,14000000.0,1755212.0,4.289993e+06,2010,2534781.0,tt2388050,2015,440.0,2
205,the tempest,Mira.,2010,the tempest,2010-12-10,20000000.0,277943.0,2.779430e+05,2010,0.0,tt3840898,2014,171.0,3
207,the girl on the train,Uni.,2016,the girl on the train,2016-10-07,45000000.0,75395035.0,1.742782e+08,2016,98883179.0,tt2387589,2013,819.0,2
220,rio,Fox,2011,rio,2011-04-15,90000000.0,143619809.0,4.875198e+08,2011,343900000.0,tt2614250,2012,14.0,3
221,rio,Fox,2011,rio,2011-04-15,90000000.0,143619809.0,4.875198e+08,2011,343900000.0,tt5734820,2017,7.0,3
242,hugo,Par.,2011,hugo,2011-11-23,180000000.0,73864507.0,1.800478e+08,2011,106183277.0,tt7496196,2017,11.0,2
245,war horse,BV,2011,war horse,2011-12-25,70000000.0,79883359.0,1.568155e+08,2011,76932170.0,tt3313072,2014,143.0,2
247,the descendants,FoxS,2011,the descendants,2011-11-16,20000000.0,82624961.0,1.755078e+08,2011,92882839.0,tt5838908,2015,12.0,2
252,limitless,Rela.,2011,limitless,2011-03-18,27000000.0,79249455.0,1.555649e+08,2011,76315464.0,tt4597838,2015,10.0,3
253,limitless,Rela.,2011,limitless,2011-03-18,27000000.0,79249455.0,1.555649e+08,2011,76315464.0,tt6084030,2017,8.0,3
271,the three musketeers,Sum.,2011,the three musketeers,2011-10-21,90000000.0,20377913.0,1.398779e+08,2011,119500000.0,tt3274666,2013,213.0,2
273,unknown,WB,2011,unknown,2011-02-18,40000000.0,63686397.0,1.361231e+08,2011,72436686.0,tt2402731,2012,14.0,2
281,paul,Uni.,2011,paul,2011-03-18,40000000.0,37412945.0,1.011621e+08,2011,63749161.0,tt5132504,2016,6.0,2
283,insidious,FD,2011,insidious,2011-04-01,1500000.0,54009150.0,9.987089e+07,2011,45861736.0,tt1591095,2010,254197.0,1
294,abduction,LGF,2011,abduction,2011-09-23,35000000.0,28087155.0,8.664836e+07,2011,58561204.0,tt5943940,2017,60.0,4
295,abduction,LGF,2011,abduction,2011-09-23,35000000.0,28087155.0,8.664836e+07,2011,58561204.0,tt7867360,2019,1592.0,4
299,drive,FD,2011,drive,2011-09-16,15000000.0,35060689.0,8.135793e+07,2011,46297241.0,tt1709105,2010,20.0,2
308,the darkest hour,Sum.,2011,the darkest hour,2011-12-25,34800000.0,21443494.0,6.283172e+07,2011,41388221.0,tt4249090,2014,8.0,2
314,one day,Focus,2011,one day,2011-08-19,15000000.0,13843771.0,5.916869e+07,2011,45324921.0,tt1616203,2010,436.0,6
315,one day,Focus,2011,one day,2011-08-19,15000000.0,13843771.0,5.916869e+07,2011,45324921.0,tt4051858,2014,13.0,6
316,one day,Focus,2011,one day,2011-08-19,15000000.0,13843771.0,5.916869e+07,2011,45324921.0,tt6168298,2016,1454.0,6
317,one day,Focus,2011,one day,2011-08-19,15000000.0,13843771.0,5.916869e+07,2011,45324921.0,tt6214734,2017,269.0,6
318,one day,Focus,2011,one day,2011-08-19,15000000.0,13843771.0,5.916869e+07,2011,45324921.0,tt8274146,2018,501.0,6
325,the debt,Focus,2011,the debt,2011-08-31,20000000.0,31177548.0,4.660405e+07,2011,15426506.0,tt1226753,2010,61046.0,2
326,the debt,Focus,2011,the debt,2011-08-31,20000000.0,31177548.0,4.660405e+07,2011,15426506.0,tt2698966,2015,624.0,2
334,5050,Sum.,2011,5050,2011-09-30,8000000.0,35016118.0,4.133474e+07,2011,6318617.0,tt1734060,2010,11.0,2
338,dont be afraid of the dark,FD,2011,dont be afraid of the dark,2011-08-26,25000000.0,24046682.0,3.912643e+07,2011,15079745.0,tt1270761,2010,44490.0,1
342,the sitter,Fox,2011,the sitter,2011-12-09,25000000.0,30542576.0,3.874940e+07,2011,8206828.0,tt4697228,2017,250.0,2
348,carnage,SPC,2011,carnage,2011-12-16,25000000.0,2546747.0,3.811215e+07,2011,35565407.0,tt6667360,2017,1108.0,2
353,biutiful,RAtt.,2011,biutiful,2011-01-28,35000000.0,5101237.0,2.468752e+07,2011,19586287.0,tt1164999,2010,80382.0,1
363,shame,FoxS,2011,shame,2011-12-02,6500000.0,4002293.0,2.041284e+07,2011,16410548.0,tt3009444,2013,38.0,2
365,the last godfather,RAtt.,2011,the last godfather,2011-04-01,13400000.0,164247.0,1.642470e+05,2011,0.0,tt1584131,2010,1071.0,1
367,melancholia,Magn.,2011,melancholia,2011-11-11,9400000.0,3030848.0,2.181730e+07,2011,18786450.0,tt5797456,2017,26.0,2
368,the conspirator,RAtt.,2011,the conspirator,2011-04-15,25000000.0,11538204.0,1.590741e+07,2011,4369207.0,tt0968264,2010,26416.0,1
370,beginners,Focus,2011,beginners,2011-06-03,3200000.0,5790894.0,1.431441e+07,2011,8523513.0,tt1532503,2010,83770.0,1
381,dylan dog dead of night,OMNI/FSR,2011,dylan dog dead of night,2011-04-29,20000000.0,1186538.0,6.093725e+06,2011,4907187.0,tt1013860,2010,14120.0,1
383,like crazy,ParV,2011,like crazy,2011-10-28,250000.0,3395391.0,3.728400e+06,2011,333009.0,tt4621872,2016,7156.0,2
387,everything must go,RAtt.,2011,everything must go,2011-05-13,5000000.0,2712131.0,2.821010e+06,2011,108879.0,tt1531663,2010,45799.0,1
388,3,Strand,2011,3,2011-09-16,7200000.0,59774.0,2.954920e+05,2011,235718.0,tt1517177,2010,4722.0,4
389,3,Strand,2011,3,2011-09-16,7200000.0,59774.0,2.954920e+05,2011,235718.0,tt2123129,2012,3471.0,4
390,3,Strand,2011,3,2011-09-16,7200000.0,59774.0,2.954920e+05,2011,235718.0,tt2379653,2012,101.0,4
391,3,Strand,2011,3,2011-09-16,7200000.0,59774.0,2.954920e+05,2011,235718.0,tt5618160,2018,166.0,4
392,brighton rock,IFC,2011,brighton rock,2011-08-26,11000000.0,229653.0,2.296530e+05,2011,0.0,tt1233192,2010,5784.0,1
400,meeks cutoff,Osci.,2011,meeks cutoff,2011-04-08,2000000.0,977772.0,1.869928e+06,2011,892156.0,tt1518812,2010,10439.0,1
401,submarine,Wein.,2011,submarine,2011-06-03,1900000.0,467602.0,4.581937e+06,2011,4114335.0,tt1440292,2010,79810.0,1
409,weekend,IFC,2011,weekend,2011-09-23,190000.0,484592.0,1.577585e+06,2011,1092993.0,tt5167782,2012,44.0,3
412,hesher,WHE,2011,hesher,2011-05-13,7000000.0,382946.0,3.829460e+05,2011,0.0,tt1403177,2010,48483.0,1
414,super,IFC,2011,super,2011-04-01,2500000.0,327716.0,5.939330e+05,2011,266217.0,tt1512235,2010,70604.0,2
415,super,IFC,2011,super,2011-04-01,2500000.0,327716.0,5.939330e+05,2011,266217.0,tt1807022,2010,1869.0,2
418,restless,SPC,2011,restless,2011-09-16,8000000.0,163753.0,2.772511e+06,2011,2608758.0,tt8136112,2018,5.0,3
419,restless,SPC,2011,restless,2011-09-16,8000000.0,163753.0,2.772511e+06,2011,2608758.0,tt2246955,2012,65.0,3
420,trust,MNE,2011,trust,2011-04-01,4000000.0,120016.0,1.200160e+05,2011,0.0,tt1529572,2010,39422.0,3
421,trust,MNE,2011,trust,2011-04-01,4000000.0,120016.0,1.200160e+05,2011,0.0,tt5541186,2018,10.0,3
422,trust,MNE,2011,trust,2011-04-01,4000000.0,120016.0,1.200160e+05,2011,0.0,tt8779022,2018,30.0,3
423,rubber,Magn.,2011,rubber,2011-04-01,500000.0,100370.0,6.809140e+05,2011,580544.0,tt1612774,2010,31316.0,1
425,beautiful boy,Amazon,2018,beautiful boy,2018-10-12,25000000.0,7634767.0,1.303142e+07,2018,5396657.0,tt1533013,2010,6058.0,2
427,stake land,IFC,2011,stake land,2011-04-22,4000000.0,33245.0,6.794820e+05,2011,646237.0,tt1464580,2010,38749.0,1
430,blood ties,RAtt.,2014,blood ties,2014-03-21,26000000.0,42472.0,2.923959e+06,2014,2881487.0,tt1747958,2013,17771.0,2
431,blood ties,RAtt.,2014,blood ties,2014-03-21,26000000.0,42472.0,2.923959e+06,2014,2881487.0,tt2941230,2013,50.0,2
466,mirror mirror,Rela.,2012,mirror mirror,2012-03-30,85000000.0,64935167.0,1.736135e+08,2012,108678315.0,tt1597044,2010,13.0,2
477,the best exotic marigold hotel,FoxS,2012,the best exotic marigold hotel,2012-05-04,10000000.0,46383639.0,1.346398e+08,2012,88256141.0,tt1412386,2011,85811.0,1
479,ghost rider spirit of vengeance,Sony,2012,ghost rider spirit of vengeance,2012-02-17,57000000.0,51774002.0,1.492174e+08,2012,97443353.0,tt1071875,2011,103608.0,1
490,the campaign,WB,2012,the campaign,2012-08-10,95000000.0,86907746.0,1.049077e+08,2012,18000000.0,tt2411684,2013,14.0,2
493,the devil inside,Par.,2012,the devil inside,2012-01-06,1000000.0,53262945.0,1.017595e+08,2012,48496545.0,tt0436230,2010,34.0,2
504,the grey,ORF,2012,the grey,2012-01-27,25000000.0,51580136.0,8.124918e+07,2012,29669040.0,tt1601913,2011,228798.0,1
511,the cabin in the woods,LGF,2012,the cabin in the woods,2012-04-13,30000000.0,42073277.0,7.068997e+07,2012,28616691.0,tt1259521,2011,338445.0,1
526,safe,LGF,2012,safe,2012-04-27,33000000.0,17142080.0,4.149521e+07,2012,24353133.0,tt6383726,2017,41.0,2
535,haywire,Rela.,2012,haywire,2012-01-20,23000000.0,18942396.0,3.637470e+07,2012,17432304.0,tt1506999,2011,78681.0,1
542,the master,Wein.,2012,the master,2012-09-14,37500000.0,16247159.0,5.064742e+07,2012,34400257.0,tt4117096,2014,130.0,3
543,the master,Wein.,2012,the master,2012-09-14,37500000.0,16247159.0,5.064742e+07,2012,34400257.0,tt4273106,2014,54.0,3
549,polisse,IFC,2012,polisse,2012-05-18,8900000.0,176988.0,2.274413e+07,2012,22567144.0,tt1661420,2011,12506.0,1
556,silent house,ORF,2012,silent house,2012-03-09,2000000.0,12739737.0,1.661076e+07,2012,3871023.0,tt1767382,2011,20831.0,1
558,people like us,BV,2012,people like us,2012-06-29,16000000.0,12431792.0,1.261747e+07,2012,185680.0,tt1758741,2010,13.0,2
563,the apparition,WB,2012,the apparition,2012-08-24,17000000.0,4936819.0,1.063728e+07,2012,5700462.0,tt6559390,2018,873.0,2
564,bernie,MNE,2012,bernie,2012-04-27,6000000.0,9204489.0,1.010698e+07,2012,902486.0,tt1704573,2011,53765.0,1
570,wont back down,Fox,2012,wont back down,2012-09-28,19000000.0,5310554.0,5.745503e+06,2012,434949.0,tt3779570,2014,77.0,2
571,jeff who lives at home,ParV,2012,jeff who lives at home,2012-03-16,10000000.0,4269426.0,4.708127e+06,2012,438701.0,tt1588334,2011,60070.0,1
573,killer joe,LD,2012,killer joe,2012-07-27,10000000.0,1291645.0,4.659110e+06,2012,3367465.0,tt1726669,2011,67842.0,1
577,barfi,UTV,2012,barfi,2012-09-14,4600000.0,2804874.0,3.675198e+07,2012,33947110.0,tt3099638,2013,114.0,2
578,samsara,Osci.,2012,samsara,2012-08-24,4000000.0,2672413.0,5.966671e+06,2012,3294258.0,tt0770802,2011,29725.0,1
580,stolen,MNE,2012,stolen,2012-09-14,35000000.0,289773.0,1.796775e+07,2012,17677973.0,tt6215338,2016,31.0,2
581,your sisters sister,IFC,2012,your sisters sister,2012-06-15,120000.0,1597486.0,3.090593e+06,2012,1493107.0,tt1742336,2011,24780.0,1
583,a little bit of heaven,MNE,2012,a little bit of heaven,2012-05-04,12500000.0,10011.0,1.100287e+06,2012,1090276.0,tt1440161,2011,26441.0,1
585,coriolanus,Wein.,2012,coriolanus,2012-01-20,10000000.0,749641.0,2.179623e+06,2012,1429982.0,tt1372686,2011,29654.0,2
586,coriolanus,Wein.,2012,coriolanus,2012-01-20,10000000.0,749641.0,2.179623e+06,2012,1429982.0,tt3313066,2014,1347.0,2
587,damsels in distress,SPC,2012,damsels in distress,2012-04-06,3000000.0,1007535.0,1.324299e+06,2012,316764.0,tt1667307,2011,8794.0,1
590,sound of my voice,FoxS,2012,sound of my voice,2012-04-27,135000.0,408015.0,4.294480e+05,2012,21433.0,tt1748207,2011,19387.0,1
593,kill list,IFC,2012,kill list,2012-02-03,800000.0,29063.0,4.622060e+05,2012,433143.0,tt1788391,2011,32807.0,1
594,high school,Anch.,2012,high school,2012-06-01,10000000.0,139034.0,2.481330e+05,2012,109099.0,tt1247667,2010,7060.0,1
595,wuthering heights,Osci.,2012,wuthering heights,2012-10-05,8000000.0,100915.0,2.721534e+06,2012,2620619.0,tt1181614,2011,8549.0,2
596,wuthering heights,Osci.,2012,wuthering heights,2012-10-05,8000000.0,100915.0,2.721534e+06,2012,2620619.0,tt5184904,2018,19.0,2
597,the innkeepers,Magn.,2012,the innkeepers,2012-02-03,750000.0,78396.0,1.011535e+06,2012,933139.0,tt1594562,2011,31089.0,1
618,now you see me,LG/S,2013,now you see me,2013-05-31,75000000.0,117723989.0,3.427692e+08,2013,225045211.0,tt2221640,2012,237.0,2
623,oblivion,Uni.,2013,oblivion,2013-04-19,120000000.0,89107235.0,2.879166e+08,2013,198809398.0,tt1876409,2011,8.0,2
625,elysium,TriS,2013,elysium,2013-08-09,120000000.0,93050117.0,2.861921e+08,2013,193141974.0,tt1783264,2010,6.0,2
649,mama,Uni.,2013,mama,2013-01-18,15000000.0,71628180.0,1.480956e+08,2013,76467386.0,tt1805319,2010,6.0,5
650,mama,Uni.,2013,mama,2013-01-18,15000000.0,71628180.0,1.480956e+08,2013,76467386.0,tt1868050,2010,24.0,5
652,mama,Uni.,2013,mama,2013-01-18,15000000.0,71628180.0,1.480956e+08,2013,76467386.0,tt3843072,2011,18.0,5
653,mama,Uni.,2013,mama,2013-01-18,15000000.0,71628180.0,1.480956e+08,2013,76467386.0,tt5437970,2016,25.0,5
672,rush,Uni.,2013,rush,2013-09-20,38000000.0,26947624.0,9.823084e+07,2013,71283215.0,tt1987632,2011,8.0,3
673,rush,Uni.,2013,rush,2013-09-20,38000000.0,26947624.0,9.823084e+07,2013,71283215.0,tt2256514,2012,780.0,3
678,the family,Rela.,2013,the family,2013-09-13,30000000.0,36918811.0,5.107854e+07,2013,14159730.0,tt1728973,2011,833.0,7
681,the family,Rela.,2013,the family,2013-09-13,30000000.0,36918811.0,5.107854e+07,2013,14159730.0,tt5029482,2015,34.0,7
682,the family,Rela.,2013,the family,2013-09-13,30000000.0,36918811.0,5.107854e+07,2013,14159730.0,tt5161028,2017,99.0,7
683,the family,Rela.,2013,the family,2013-09-13,30000000.0,36918811.0,5.107854e+07,2013,14159730.0,tt6107516,2017,325.0,7
684,the family,Rela.,2013,the family,2013-09-13,30000000.0,36918811.0,5.107854e+07,2013,14159730.0,tt5939770,2016,252.0,7
693,the call,TriS,2013,the call,2013-03-15,12800000.0,51872378.0,6.982148e+07,2013,17949098.0,tt4741754,2014,5.0,3
697,the host,ORF,2013,the host,2013-03-29,50000000.0,26623701.0,6.447705e+07,2013,37853350.0,tt5537146,2015,8.0,2
702,quartet,Wein.,2013,quartet,2013-01-11,11000000.0,18388357.0,5.617894e+07,2013,37790578.0,tt1441951,2012,17979.0,2
703,quartet,Wein.,2013,quartet,2013-01-11,11000000.0,18388357.0,5.617894e+07,2013,37790578.0,tt1854323,2011,11.0,2
716,the place beyond the pines,Focus,2013,the place beyond the pines,2013-03-29,15000000.0,21403519.0,4.701145e+07,2013,25607930.0,tt1817273,2012,226765.0,1
718,mud,RAtt.,2013,mud,2013-04-26,10000000.0,21590086.0,3.155696e+07,2013,9966873.0,tt1935179,2012,156786.0,2
719,mud,RAtt.,2013,mud,2013-04-26,10000000.0,21590086.0,3.155696e+07,2013,9966873.0,tt2514592,2012,41.0,2
722,spring breakers,A24,2013,spring breakers,2013-03-15,5000000.0,14124286.0,3.114925e+07,2013,17024965.0,tt2101441,2012,126504.0,1
730,trance,FoxS,2013,trance,2013-04-05,16000000.0,2322593.0,2.259405e+07,2013,20271459.0,tt1111235,2010,77.0,2
734,the sapphires,Wein.,2013,the sapphires,2013-03-22,9000000.0,2450867.0,2.039504e+07,2013,17944173.0,tt1673697,2012,12143.0,1
736,youre next,LGF,2013,youre next,2013-08-23,1000000.0,18494006.0,2.688718e+07,2013,8393171.0,tt1853739,2011,79451.0,1
745,paranoia,Rela.,2013,paranoia,2013-08-16,40000000.0,7388654.0,1.634077e+07,2013,8952113.0,tt1904995,2012,26.0,2
750,bullet to the head,WB,2013,bullet to the head,2013-02-01,55000000.0,9489829.0,2.259797e+07,2013,13108140.0,tt1308729,2012,44816.0,1
752,upside down,MNE,2013,upside down,2013-03-15,50000000.0,102118.0,2.638704e+07,2013,26284921.0,tt1374992,2012,66347.0,3
753,upside down,MNE,2013,upside down,2013-03-15,50000000.0,102118.0,2.638704e+07,2013,26284921.0,tt1713561,2011,6.0,3
754,upside down,MNE,2013,upside down,2013-03-15,50000000.0,102118.0,2.638704e+07,2013,26284921.0,tt2105043,2012,45.0,3
758,the sweeney,EOne,2013,the sweeney,2013-03-01,4500000.0,26345.0,8.000366e+06,2013,7974021.0,tt0857190,2012,18095.0,1
760,frances ha,IFC,2013,frances ha,2013-05-17,3000000.0,4067398.0,1.126277e+07,2013,7195371.0,tt2347569,2012,60026.0,1

In [549]:
smpiwi.loc[smpiwi.bom_year == smpiwi.imdb_year]

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross,tconst,imdb_year,numvotes,duplicates
0,toy story 3,BV,2010,toy story 3,2010-06-18,200000000.0,415004880.0,1.068880e+09,2010,653874642.0,tt0435761,2010,682218.0,1
1,alice in wonderland,BV,2010,alice in wonderland,2010-03-05,200000000.0,334191110.0,1.025491e+09,2010,691300000.0,tt1014759,2010,358813.0,2
2,alice in wonderland,BV,2010,alice in wonderland,2010-03-05,200000000.0,334191110.0,1.025491e+09,2010,691300000.0,tt2049386,2010,6.0,2
3,inception,WB,2010,inception,2010-07-16,160000000.0,292576195.0,8.355246e+08,2010,542948447.0,tt1375666,2010,1841066.0,1
4,shrek forever after,P/DW,2010,shrek forever after,2010-05-21,165000000.0,238736787.0,7.562447e+08,2010,517507886.0,tt0892791,2010,167532.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,the hurricane heist,ENTMP,2018,the hurricane heist,2018-03-09,40000000.0,6115824.0,3.096368e+07,2018,24847860.0,tt5360952,2018,15326.0,1
1679,destroyer,Annapurna,2018,destroyer,2018-12-25,9000000.0,1533324.0,3.681096e+06,2018,2147772.0,tt7137380,2018,13683.0,1
1680,gotti,VE,2018,gotti,2018-06-15,10000000.0,4286367.0,6.089100e+06,2018,1802733.0,tt1801552,2018,10358.0,1
1681,ben is back,RAtt.,2018,ben is back,2018-12-07,13000000.0,3703182.0,9.633111e+06,2018,5929929.0,tt7545524,2018,10402.0,1
1684,mandy,RLJ,2018,mandy,2018-09-14,6000000.0,1214525.0,1.427656e+06,2018,213131.0,tt6998518,2018,44378.0,2

In [550]:
# Just keeping records where the years match
smpiwi = smpiwi.loc[smpiwi.bom_year == smpiwi.imdb_year]

In [551]:
# Recreating the duplicate count after trimming the dataset
smpiwi['duplicates'] = smpiwi.title.apply(lambda x:
                                          len(smpiwi.title.loc[smpiwi.title == x]))

In [560]:
smpiwi.loc[smpiwi.duplicates > 1]

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross,tconst,imdb_year,numvotes,duplicates,duplicate_to_delete
1,alice in wonderland,BV,2010,alice in wonderland,2010-03-05,200000000.0,334191110.0,1.025491e+09,2010,691300000.0,tt1014759,2010,358813.0,2,False
2,alice in wonderland,BV,2010,alice in wonderland,2010-03-05,200000000.0,334191110.0,1.025491e+09,2010,691300000.0,tt2049386,2010,6.0,2,True
17,robin hood,Uni.,2010,robin hood,2010-05-14,210000000.0,105487148.0,3.224590e+08,2010,216971858.0,tt0955308,2010,239480.0,3,False
23,robin hood,LG/S,2018,robin hood,2018-11-21,99000000.0,30824628.0,8.474744e+07,2018,53922813.0,tt4532826,2018,41588.0,3,False
24,robin hood,LG/S,2018,robin hood,2018-11-21,99000000.0,30824628.0,8.474744e+07,2018,53922813.0,tt6858500,2018,5.0,3,True
62,the bounty hunter,Sony,2010,the bounty hunter,2010-03-19,45000000.0,67061228.0,1.358088e+08,2010,68747609.0,tt1038919,2010,112444.0,2,False
63,the bounty hunter,Sony,2010,the bounty hunter,2010-03-19,45000000.0,67061228.0,1.358088e+08,2010,68747609.0,tt1472211,2010,29.0,2,True
80,burlesque,SGem,2010,burlesque,2010-11-24,55000000.0,39440655.0,9.055268e+07,2010,51112020.0,tt1126591,2010,71021.0,2,False
81,burlesque,SGem,2010,burlesque,2010-11-24,55000000.0,39440655.0,9.055268e+07,2010,51112020.0,tt1586713,2010,45.0,2,True
128,leap year,Uni.,2010,leap year,2010-01-08,19000000.0,25918920.0,3.261892e+07,2010,6700000.0,tt1216492,2010,86125.0,2,False
129,leap year,Uni.,2010,leap year,2010-01-08,19000000.0,25918920.0,3.261892e+07,2010,6700000.0,tt1537401,2010,2211.0,2,True
163,cyrus,FoxS,2010,cyrus,2010-06-18,7000000.0,7468936.0,1.006290e+07,2010,2593960.0,tt1327709,2010,944.0,2,True
164,cyrus,FoxS,2010,cyrus,2010-06-18,7000000.0,7468936.0,1.006290e+07,2010,2593960.0,tt1336617,2010,32457.0,2,False
203,the tempest,Mira.,2010,the tempest,2010-12-10,20000000.0,277943.0,2.779430e+05,2010,0.0,tt1274300,2010,7073.0,2,False
204,the tempest,Mira.,2010,the tempest,2010-12-10,20000000.0,277943.0,2.779430e+05,2010,0.0,tt1683003,2010,94.0,2,True
268,the artist,Wein.,2011,the artist,2011-11-25,16000000.0,44667095.0,1.282567e+08,2011,83589617.0,tt1655442,2011,217184.0,2,False
269,the artist,Wein.,2011,the artist,2011-11-25,16000000.0,44667095.0,1.282567e+08,2011,83589617.0,tt1825978,2011,6.0,2,True
292,abduction,LGF,2011,abduction,2011-09-23,35000000.0,28087155.0,8.664836e+07,2011,58561204.0,tt1600195,2011,72552.0,2,False
293,abduction,LGF,2011,abduction,2011-09-23,35000000.0,28087155.0,8.664836e+07,2011,58561204.0,tt2447982,2011,10.0,2,True
394,a better life,Sum.,2011,a better life,2011-06-24,10000000.0,1759252.0,1.884251e+06,2011,124999.0,tt1554091,2011,14602.0,2,False
395,a better life,Sum.,2011,a better life,2011-06-24,10000000.0,1759252.0,1.884251e+06,2011,124999.0,tt2027265,2011,1519.0,2,True
407,weekend,IFC,2011,weekend,2011-09-23,190000.0,484592.0,1.577585e+06,2011,1092993.0,tt1714210,2011,25424.0,2,False
408,weekend,IFC,2011,weekend,2011-09-23,190000.0,484592.0,1.577585e+06,2011,1092993.0,tt1791679,2011,583.0,2,True
679,the family,Rela.,2013,the family,2013-09-13,30000000.0,36918811.0,5.107854e+07,2013,14159730.0,tt2404311,2013,102576.0,2,False
680,the family,Rela.,2013,the family,2013-09-13,30000000.0,36918811.0,5.107854e+07,2013,14159730.0,tt4155318,2013,15.0,2,True
691,the call,TriS,2013,the call,2013-03-15,12800000.0,51872378.0,6.982148e+07,2013,17949098.0,tt1911644,2013,103780.0,2,False
692,the call,TriS,2013,the call,2013-03-15,12800000.0,51872378.0,6.982148e+07,2013,17949098.0,tt2926868,2013,12.0,2,True
712,homefront,ORF,2013,homefront,2013-11-27,22000000.0,20158492.0,5.169536e+07,2013,31536870.0,tt2312718,2013,98549.0,2,False
713,homefront,ORF,2013,homefront,2013-11-27,22000000.0,20158492.0,5.169536e+07,2013,31536870.0,tt2558484,2013,17.0,2,True
774,redemption,RAtt.,2013,redemption,2013-06-28,23000000.0,36686.0,1.359347e+07,2013,13556787.0,tt1893256,2013,61317.0,3,False
775,redemption,RAtt.,2013,redemption,2013-06-28,23000000.0,36686.0,1.359347e+07,2013,13556787.0,tt3104228,2013,25.0,3,True
776,redemption,RAtt.,2013,redemption,2013-06-28,23000000.0,36686.0,1.359347e+07,2013,13556787.0,tt3279418,2013,5.0,3,True
814,hercules,Par.,2014,hercules,2014-07-25,100000000.0,72688614.0,2.433886e+08,2014,170700000.0,tt1267297,2014,137287.0,2,False
815,hercules,Par.,2014,hercules,2014-07-25,100000000.0,72688614.0,2.433886e+08,2014,170700000.0,tt3985956,2014,72.0,2,True
907,big eyes,Wein.,2014,big eyes,2014-12-25,10000000.0,14482031.0,2.731787e+07,2014,12835841.0,tt1126590,2014,77447.0,2,False
908,big eyes,Wein.,2014,big eyes,2014-12-25,10000000.0,14482031.0,2.731787e+07,2014,12835841.0,tt4317898,2014,43.0,2,True
1052,the visit,Uni.,2015,the visit,2015-09-11,5000000.0,65206105.0,9.867782e+07,2015,33471711.0,tt3567288,2015,102459.0,2,False
1053,the visit,Uni.,2015,the visit,2015-09-11,5000000.0,65206105.0,9.867782e+07,2015,33471711.0,tt3833746,2015,661.0,2,True
1054,spotlight,ORF,2015,spotlight,2015-11-06,20000000.0,45055776.0,9.208846e+07,2015,47032684.0,tt1895587,2015,365110.0,2,False
1055,spotlight,ORF,2015,spotlight,2015-11-06,20000000.0,45055776.0,9.208846e+07,2015,47032684.0,tt7785302,2015,12.0,2,True
1077,the walk,TriS,2015,the walk,2015-09-30,35000000.0,10161183.0,6.149210e+07,2015,51330921.0,tt2159988,2015,126.0,2,True
1078,the walk,TriS,2015,the walk,2015-09-30,35000000.0,10161183.0,6.149210e+07,2015,51330921.0,tt3488710,2015,109714.0,2,False
1105,legend,Uni.,2015,legend,2015-11-20,25000000.0,1872994.0,4.242545e+07,2015,40552456.0,tt3569230,2015,138947.0,2,False
1106,legend,Uni.,2015,legend,2015-11-20,25000000.0,1872994.0,4.242545e+07,2015,40552456.0,tt3381068,2015,303.0,2,True
1176,heist,LGP,2015,heist,2015-11-13,8900000.0,50136.0,3.324131e+06,2015,3273995.0,tt3276924,2015,24740.0,2,False
1177,heist,LGP,2015,heist,2015-11-13,8900000.0,50136.0,3.324131e+06,2015,3273995.0,tt5112932,2015,5.0,2,True
1304,the forest,Focus,2016,the forest,2016-01-08,10000000.0,26594261.0,4.074923e+07,2016,14154969.0,tt3387542,2016,36423.0,2,False
1306,the forest,Focus,2016,the forest,2016-01-08,10000000.0,26594261.0,4.074923e+07,2016,14154969.0,tt4982356,2016,222.0,2,True
1346,the darkness,BH Tilt,2016,the darkness,2016-05-13,4000000.0,10753574.0,1.089829e+07,2016,144719.0,tt1878841,2016,12435.0,2,False
1347,the darkness,BH Tilt,2016,the darkness,2016-05-13,4000000.0,10753574.0,1.089829e+07,2016,144719.0,tt4935746,2016,196.0,2,True
1367,denial,BST,2016,denial,2016-09-30,10000000.0,4073448.0,9.263940e+06,2016,5190492.0,tt4645330,2016,16593.0,2,False
1368,denial,BST,2016,denial,2016-09-30,10000000.0,4073448.0,9.263940e+06,2016,5190492.0,tt5897002,2016,25.0,2,True
1395,coco,BV,2017,coco,2017-11-22,175000000.0,209726015.0,7.980081e+08,2017,588282086.0,tt2380307,2017,277194.0,2,False
1396,coco,BV,2017,coco,2017-11-22,175000000.0,209726015.0,7.980081e+08,2017,588282086.0,tt7002100,2017,35.0,2,True
1512,the circle,STX,2017,the circle,2017-04-28,18000000.0,20497844.0,4.065186e+07,2017,20154020.0,tt2943946,2017,17.0,2,True
1514,the circle,STX,2017,the circle,2017-04-28,18000000.0,20497844.0,4.065186e+07,2017,20154020.0,tt4287320,2017,72536.0,2,False
1525,the promise,ORF,2017,the promise,2017-04-21,90000000.0,8224288.0,1.055142e+07,2017,2327129.0,tt4192918,2017,53.0,2,True
1528,the promise,ORF,2017,the promise,2017-04-21,90000000.0,8224288.0,1.055142e+07,2017,2327129.0,tt7232438,2017,629.0,2,False
1533,stronger,RAtt.,2017,stronger,2017-09-22,30000000.0,4211129.0,8.786752e+06,2017,4575623.0,tt3881784,2017,33464.0,2,False
1534,stronger,RAtt.,2017,stronger,2017-09-22,30000000.0,4211129.0,8.786752e+06,2017,4575623.0,tt5738152,2017,22.0,2,True

In [554]:
# Based on reviewing the remaining duplicates,
# We'll Keep the duplicate value with the highest rating. 
# In general, there is a clearly correct dupicate based on the vote count.

# Initializing a column of falses.
# Then we loop through and change duplicate movies with lower vote counts to True.
# Then we'll remove the Trues
smpiwi['duplicate_to_delete'] = False

,title,studio,bom_year,movie,release_date,production_budget,domestic_gross,worldwide_gross,tn_year,foreign_gross,tconst,imdb_year,numvotes,duplicates,duplicate_to_delete
0,toy story 3,BV,2010,toy story 3,2010-06-18,200000000.0,415004880.0,1.068880e+09,2010,653874642.0,tt0435761,2010,682218.0,1,False
1,alice in wonderland,BV,2010,alice in wonderland,2010-03-05,200000000.0,334191110.0,1.025491e+09,2010,691300000.0,tt1014759,2010,358813.0,2,False
2,alice in wonderland,BV,2010,alice in wonderland,2010-03-05,200000000.0,334191110.0,1.025491e+09,2010,691300000.0,tt2049386,2010,6.0,2,False
3,inception,WB,2010,inception,2010-07-16,160000000.0,292576195.0,8.355246e+08,2010,542948447.0,tt1375666,2010,1841066.0,1,False
4,shrek forever after,P/DW,2010,shrek forever after,2010-05-21,165000000.0,238736787.0,7.562447e+08,2010,517507886.0,tt0892791,2010,167532.0,1,False

In [559]:
for index in smpiwi.index:
    if smpiwi.loc[index, 'duplicates'] > 1:
        index_title = smpiwi.loc[index, 'title']
        index_year = smpiwi.loc[index, 'imdb_year']
        index_numvotes = smpiwi.loc[index, 'numvotes']
        if smpiwi.numvotes.loc[(smpiwi.title == index_title) 
                               & (smpiwi.imdb_year == index_year)].max() != index_numvotes:
            smpiwi.at[index, 'duplicate_to_delete'] = True

In [566]:
# Preparing columns for final dataframe
smpiwi.columns

Index(['title', 'studio', 'year', 'movie', 'release_date', 'production_budget',
       'domestic_gross', 'worldwide_gross', 'tn_year', 'foreign_gross',
       'tconst', 'imdb_year', 'numvotes', 'duplicates', 'duplicate_to_delete'],
      dtype='object')

In [565]:
smpiwi.rename(columns= {'bom_year': 'year'}, inplace=True)

In [569]:
# Removing the last of the duplicates and only keeping certain rows.
studio_movie_performance_inner_w_imdb = smpiwi[['title', 'studio', 'year', 'release_date', 'production_budget',
                                                'domestic_gross', 'worldwide_gross', 'foreign_gross',
                                                'tconst', 'numvotes']].loc[smpiwi.duplicate_to_delete == False].copy()

In [581]:
studio_movie_performance_inner_w_imdb.reset_index(inplace=True)
studio_movie_performance_inner_w_imdb.drop('index', axis=1, inplace=True)

In [582]:
studio_movie_performance_inner_w_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1226 entries, 0 to 1225
Data columns (total 10 columns):
title                1226 non-null object
studio               1226 non-null object
year                 1226 non-null int64
release_date         1226 non-null datetime64[ns]
production_budget    1226 non-null float64
domestic_gross       1226 non-null float64
worldwide_gross      1226 non-null float64
foreign_gross        1226 non-null float64
tconst               1226 non-null object
numvotes             1226 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 95.9+ KB

In [583]:
studio_movie_performance_inner_w_imdb.to_csv(
    'Exploration/studio_movie_performance_inner_w_imdb.csv', index=False)